@import "bourbon/bourbon";
@import "neat/neat";

// Reset margins
body {
    margin: 0;
}

// ----- START Menu bar for all pages ----- //
#main-menu-bar-container {
    width: 100%;
    background-color: #eee;
}

#main-menu-bar {
    @include outer-container;
    background-color: #ddd;
    padding: 10px;
}

#main-menu-bar-logo {
    float: left;
}

#main-menu-bar-right {
    float: right;
}

#sign-up-link {
    display: inline-block;
}

#log-in-button {
    display: inline-block;
    @include button;
}
// ----- END Menu bar ----- //

// content
#content-container {
    @include outer-container;
    padding: 10px;
    background-color: #eee;
}

#members-table {
    width: 100%;
    border-collapse:collapse;

    th, td {
        border: 1px solid #ccc;
    }
}