@import "bourbon/bourbon";
@import "neat/neat";

// responsive breakpoints
$bigger-than-mobile: new-breakpoint(min-width 450px 4);

// colours
$sfu-grey: #6e6d64;
$sfu-red: #b5111a;

// the font
@import url(http://fonts.googleapis.com/css?family=Gudea:400,700,400italic);

// important!
body, input {
    margin: 0;
    font-family: 'Gudea', sans-serif;
    color: #333;
}

a {
    color: #69ABED;
    &:hover {
        color: darken(#69ABED, 20);
    }
}

// for IE placeholder text
.placeholder {
    color: #aaa;
}

.center-text {
    text-align: center;
}

// ----- START General buttons ----- //
@mixin custom-button($bg-color: #ddd, $text-color: #333) {
    border: 1px solid darken($bg-color, 20);
    background-color: $bg-color;
    color: $text-color;
    border-radius: 4px;
    padding: 4px 10px 5px 10px;

    &:hover {
        background-color: lighten($bg-color, 5);
        cursor: pointer;
    }

    &:active {
        background-color: darken($bg-color, 5);
    }
}

.button {
    @include custom-button();
}
// ----- END General buttons ----- //

// ----- START Menu bar for all pages ----- //
#main-menu-bar-container {
    width: 100%;
    background-color: $sfu-grey;
}

#main-menu-bar {
    @include outer-container;
    background-color: $sfu-grey;
    padding: 10px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    font-size: 0.9em;
}

#main-menu-bar-logo {
    height: 40px;
    @include media($bigger-than-mobile) {
        float: left;
    }
}

#main-menu-bar-right {
    @include media($bigger-than-mobile) {
        float: right;
    }
}

#sign-up-link {
    display: inline-block;
    margin-right: 10px;
}

#log-in-button {
    display: inline-block;
    @include custom-button($sfu-red, #ffffff);

}
// ----- END Menu bar ----- //

// ----- START content ----- //
#content-container {
    @include outer-container;
    padding: 10px;
    background-color: #eee;
}

#members-table {
    width: 100%;
    border-collapse:collapse;

    th, td {
        border: 1px solid #ccc;
        padding: 5px;
    }
}

// sign up and log in forms
.sign-up-log-in-form {
    text-align: center;
    @include span-columns(6);
    @include shift(3);


    input, textarea {
        display: block;
        margin: 10px auto;
    }

    input[type="submit"] {

    }
}

#sign-up-results {
    width: 400px;
    margin: 0 auto;
}

// ----- START footer ----- //
#footer-container {
    @include outer-container;
    text-align: center;
    padding: 10px 0;
    background-color: #eee;

    .footer-p {
        @include span-columns(12);
    }
}